<a href="https://colab.research.google.com/github/sidddheshh/IMDB_datasetAnalysis/blob/main/IMDB_Dataset_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**
The IMDB dataset is a popular dataset for analyzing movie information such as movie titles, ratings, reviews, and other related data.
 To conduct this analysis, the project would likely involve loading and cleaning the IMDB data, performing exploratory data analysis (EDA) on it.


 Dataset: https://drive.google.com/file/d/1vlTeCUIfw_oxhpENKPJdcm1L34t6qdSg/view

# Importing the Libraries

In [10]:
# NumPy -> To perform the Mathematical Operations
import numpy as np

# Pandas -> Data Analysis Tool -> DE, DM, DC, DV
import pandas as pd

# Matplotlib - Data Visualisation Tool
import matplotlib.pyplot as plt

# Matplotlib - Data Visualisation Tool
import seaborn as sns

# ReGex -> Data Cleaning
import re

# SQLite -> Server-less Database
import sqlite3

# Approach

In [11]:
#steps :
# 1. We need to establish a connection to the SQLite Database by creating a connection object
# 2. Then, We need to create a cursor object using the cursor() method
# 3. Then, excute the query -> cursor_variable.execute('query')
# 4. To fectch the data, then use fetchall() method of the cursor variable/object
# 5. We will create a DataFrame w.r.t. the SQLite
# 6. Then we will perform the EDA i.e Data Analysis - Data Manipulation, Data Exploration, Data Cleaning, Data Visualisation

# 1. Establishing Connection

In [12]:
#storing the path of dataset into a variable "db"
db="/content/drive/MyDrive/movies.sqlite"

#using conn variable connecting the dataset
conn=sqlite3.connect(db)

#creating cursor Object
cur=conn.cursor()

In [13]:
#fetching all the data of movies from the movies table in the dataset
cur.execute('SELECT * FROM movies')

#creating a cursor object 
movies=cur.fetchall()

In [ ]:
# Displaying all the data from the movies table
movies

# Creating DataFrame

In [15]:
# Creating a DataFrame :
columns = ['id','original_title', 'budget','popularity', 'release_date', 'revenue',
           'title','vote_average','vote_count','overvview','tagline','uid','director_id']
movies_df = pd.DataFrame(movies, columns=columns)

In [81]:
# Display the DataFrame
movies_df

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overvview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [ ]:
movies_df.info()

In [18]:
# As we can see that we have column name as 'director_id', Which means that 
# that its a Foreign Key and we have another table in the Dataset.
# lets connect that table

In [19]:
#Fetching all the data from directors table.
cur.execute('SELECT * FROM directors')

#creating another cursor object 
directors = cur.fetchall()

In [ ]:
# Displaying data from directors table
directors

In [21]:
# creating a DataFrame for the directors table

columns=['name','director_id','gender','uid','department']
directors_df = pd.DataFrame(directors , columns=columns)

In [ ]:
# Displaying the data from directors DataFrame

directors_df

In [ ]:
directors_df.info()

In [24]:
movies_df.shape

(4773, 13)

In [25]:
directors_df.shape

(2349, 5)

In [ ]:
movies_df.describe()

In [27]:
movies_df.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overvview',
       'tagline', 'uid', 'director_id'],
      dtype='object')

In [28]:
directors_df.columns

Index(['name', 'director_id', 'gender', 'uid', 'department'], dtype='object')

# EDA

Q1. How many movies are present in the movies table?

In [29]:
cur.execute('SELECT  COUNT(original_title) FROM movies')
count=cur.fetchall()
print(f'The number of movies present in the movies table is {count[0][0]}')

The number of movies present in the movies table is 4773

Q2. Find these 3 directors : James Cameron, Luc Besson, John Woo

In [30]:
cur.execute("SELECT * FROM directors WHERE name in ('James Cameron' , 'Luc Besson' , 'Jhon Woo') ")
three_dir=cur.fetchall()
print(f"Here is the information for the asked directors : {three_dir}")

Here is the information for the asked directors : [('James Cameron', 4762, 2, 2710, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

Q3. Find all the directors with the name starting with 'Steven'

In [31]:
cur.execute("SELECT name FROM directors WHERE name LIKE 'Steven%' ")
steven=cur.fetchall()
print(f"Directors with first name 'Steven' are : {steven}")

Directors with first name 'Steven' are : [('Steven Spielberg',), ('Steven Soderbergh',), ('Steven Brill',), ('Steven Zaillian',), ('Steven Quale',), ('Steven Seagal',), ('Steven E. de Souza',), ('Steven Shainberg',), ('Steven R. Monroe',)]

Q4. How many Female directors are there in the Dataset?

In [32]:
cur.execute("SELECT COUNT(name) FROM directors WHERE gender='1'")
female=cur.fetchall()
print(f"The number of female directors are : {female[0][0]}")

The number of female directors are : 150

Q5. Find the name of the 10th First female director

In [33]:
cur.execute("SELECT name FROM directors WHERE gender=1 LIMIT 10")
femaledir=cur.fetchall()
print(f"The 10th Female director is : {femaledir[9][0]}")

The 10th Female director is : Angelina Jolie

Q6. Find the Top 3 most popular movies

In [34]:
cur.execute("SELECT original_title FROM movies ORDER BY  popularity DESC LIMIT 3")
top=cur.fetchall()
print(f"The Top 3 popular movies are : {top}")

The Top 3 popular movies are : [('Minions',), ('Interstellar',), ('Deadpool',)]

Q7. Find the Top 3 most bankable (having huge budget) movie

In [37]:
cur.execute("SELECT original_title FROM movies ORDER BY budget DESC LIMIT 3")
bud=cur.fetchall()
print(f"The Top 3 most bankable(budget) movies are :{bud}")

The Top 3 most bankable(budget) movies are :[('Pirates of the Caribbean: On Stranger Tides',), ("Pirates of the Caribbean: At World's End",), ('Avengers: Age of Ultron',)]

Q8. Find out the most awarded average rated movie since Jan 1st, 2000

In [45]:
cur.execute("SELECT original_title FROM movies WHERE release_date > '2000-01-01' ORDER BY vote_average DESC LIMIT 1 ")
bud=cur.fetchall()
print(f"The Top 3 most bankable(budget) movies are :{bud}")

The Top 3 most bankable(budget) movies are :[('Sardaarji',)]



*   Q9. Find all the movie(s) that has been directed by Brenda Chapman

In [52]:
cur.execute("SELECT original_title FROM movies , directors  WHERE directors.id = movies.director_id AND directors.name = 'Brenda Chapman' ")
dir=cur.fetchall()
print(f"The Top 3 most bankable(budget) movies is/are :{dir[0][0]}")

The Top 3 most bankable(budget) movies is/are :Brave

Q10. Find out the director who has made the most movies.

In [57]:
cur.execute(""" SELECT name 
FROM directors JOIN movies ON directors.id = movies.director_id
GROUP BY director_id
ORDER BY  COUNT(name) DESC LIMIT 1 """)
ct=cur.fetchall()
print(f"The director who has made the most movies : {ct[0][0]}")

The director who has made the most movies : Steven Spielberg

Q11. Find out the director who is most bankable

In [61]:
cur.execute("""SELECT name 
FROM directors JOIN movies ON directors.id = movies.director_id
GROUP BY director_id
ORDER BY SUM(budget) DESC  LIMIT 1
""")
dir2=cur.fetchall()
print(f"The most bankable director is {dir2[0][0]}")

The most bankable director is Steven Spielberg

Q12. Find out the Top 10 highest budget making movies

In [62]:
cur.execute(""" SELECT original_title
FROM movies 
ORDER BY budget DESC LIMIT 10 """)
bud3=cur.fetchall()
print(f"The Top 10 highest budget making movies are :{bud3}")

The Top 10 highest budget making movies are :[('Pirates of the Caribbean: On Stranger Tides',), ("Pirates of the Caribbean: At World's End",), ('Avengers: Age of Ultron',), ('Superman Returns',), ('John Carter',), ('Tangled',), ('Spider-Man 3',), ('The Lone Ranger',), ('The Dark Knight Rises',), ('Harry Potter and the Half-Blood Prince',)]

Q13. Find the Top 10 revenue making movies

In [64]:
cur.execute(""" SELECT original_title
FROM movies 
ORDER BY revenue DESC LIMIT 10 """)
rev=cur.fetchall()
print(f"The Top 10 highest revenue making movies are :{rev}")

The Top 10 highest revenue making movies are :[('Avatar',), ('Titanic',), ('The Avengers',), ('Jurassic World',), ('Furious 7',), ('Avengers: Age of Ultron',), ('Frozen',), ('Iron Man 3',), ('Minions',), ('Captain America: Civil War',)]

Q14. Find out the Top 10 most popular movies with the highest rating (vote_average)

In [68]:
cur.execute(""" SELECT original_title
FROM movies 
ORDER BY popularity, vote_average DESC LIMIT 10 """)
pop=cur.fetchall()
print(f"The Top 10 most popular movies with the highest rating :{pop}")

The Top 10 most popular movies with the highest rating :[('Stiff Upper Lips',), ('Dancer, Texas Pop. 81',), ('Sardaarji',), ("One Man's Hero",), ('There Goes My Baby',), ('Counting',), ('DÃ©jÃ  Vu',), ('Dolphins and Whales: Tribes of the Ocean',), ('Lake of Fire',), ('Dreaming of Joseph Lees',)]

Q15. Find out the Top 10 directors with the number of movies and revenue where Revenue should be taken into account for doing the new analysis.

In [77]:
cur.execute(""" SELECT name
FROM movies JOIN directors on movies.director_id = directors.id 
GROUP BY director_id
ORDER BY  SUM(revenue) DESC ,COUNT(name) DESC LIMIT 10 """)
po15=cur.fetchall()
print(f"The Top 10 directors with the number of movies and revenue  :{po15}")

The Top 10 directors with the number of movies and revenue  :[('Steven Spielberg',), ('Peter Jackson',), ('James Cameron',), ('Michael Bay',), ('Christopher Nolan',), ('Chris Columbus',), ('Robert Zemeckis',), ('George Lucas',), ('Tim Burton',), ('Ridley Scott',)]

Q16. Give the title, release date, budget, revenue, popularity and vote average of those movies made by Steven Spielberg

In [70]:
cur.execute(""" SELECT  original_title, release_date, budget, revenue, popularity, vote_average
FROM movies , directors
WHERE directors.id = movies.director_id AND name = 'Steven Spielberg'  
 """)
stv=cur.fetchall()
print(f"The title, release date, budget, revenue, popularity and vote average of  movies made by Steven Spielberg :{stv}")

The title, release date, budget, revenue, popularity and vote average of  movies made by Steven Spielberg :[('Indiana Jones and the Kingdom of the Crystal Skull', '2008-05-21', 185000000, 786636033, 75, 5.7), ('The BFG', '2016-06-01', 140000000, 183345589, 44, 6.0), ('War of the Worlds', '2005-06-28', 132000000, 591739379, 48, 6.2), ('The Adventures of Tintin', '2011-10-25', 130000000, 371940071, 89, 6.7), ('Minority Report', '2002-06-20', 102000000, 358372926, 65, 7.1), ('A.I. Artificial Intelligence', '2001-06-29', 100000000, 235926552, 34, 6.8), ('The Lost World: Jurassic Park', '1997-05-23', 73000000, 229074524, 2, 6.2), ('The Terminal', '2004-06-17', 60000000, 219417255, 57, 7.0), ('Munich', '2005-12-22', 70000000, 130358911, 29, 6.9), ('Hook', '1991-12-11', 70000000, 300854823, 33, 6.6), ('War Horse', '2011-12-25', 66000000, 177584879, 29, 7.0), ('Saving Private Ryan', '1998-07-24', 70000000, 481840909, 76, 7.9), ('Lincoln', '2012-11-09', 65000000, 275293450, 36, 6.7), ('Jurassic Park', '1993-06-11', 63000000, 920100000, 40, 7.6), ('Catch Me If You Can', '2002-12-25', 52000000, 352114312, 73, 7.7), ('Indiana Jones and the Last Crusade', '1989-05-24', 48000000, 474171806, 80, 7.6), ('Bridge of Spies', '2015-10-15', 40000000, 165478348, 48, 7.2), ('Amistad', '1997-12-03', 36000000, 74000000, 3, 6.8), ('1941', '1979-12-13', 35000000, 31755742, 10, 5.6), ('Indiana Jones and the Temple of Doom', '1984-05-23', 28000000, 333000000, 66, 7.1), ("Schindler's List", '1993-11-29', 22000000, 321365567, 104, 8.3), ('Raiders of the Lost Ark', '1981-06-12', 18000000, 389925971, 68, 7.7), ('Close Encounters of the Third Kind', '1977-11-16', 20000000, 303788635, 52, 7.2), ('The Color Purple', '1985-12-18', 15000000, 146292009, 17, 7.7), ('Jaws', '1975-06-18', 7000000, 470654000, 50, 7.5), ('E.T. the Extra-Terrestrial', '1982-04-03', 10500000, 792910554, 56, 7.3), ('Twilight Zone: The Movie', '1983-06-24', 10000000, 29450919, 12, 6.2)]

Q17. Find out the Top 10 directors with the number of movies and revenue where Movies should be taken into account for doing the new analysis.
Output: The directors who has got the highest number of movies should comes at the Top and so on and so forth.

In [78]:
cur.execute(""" SELECT name
FROM movies JOIN directors on movies.director_id = directors.id 
GROUP BY director_id
ORDER BY  COUNT(name) DESC, SUM(revenue) DESC LIMIT 10 """)
po15=cur.fetchall()
print(f"The Top 10 directors with highest number of movies and revenue  :{po15}")

The Top 10 directors with highest number of movies and revenue  :[('Steven Spielberg',), ('Woody Allen',), ('Clint Eastwood',), ('Martin Scorsese',), ('Ridley Scott',), ('Robert Rodriguez',), ('Spike Lee',), ('Steven Soderbergh',), ('Renny Harlin',), ('Tim Burton',)]

Q18. Which are the 3 least popular movies of all time.

In [79]:
cur.execute("SELECT original_title FROM movies ORDER BY  popularity  LIMIT 3")
least=cur.fetchall()
print(f"The Top 3 popular movies are : {least}")

The Top 3 popular movies are : [('DÃ©jÃ  Vu',), ('Don Gato: El inicio de la pandilla',), ('The Tooth Fairy',)]

Q19. Find the number of movies having 'the' in their titles.

In [86]:
cur.execute("SELECT COUNT(original_title) FROM movies WHERE original_title LIKE '%the%' ")
the=cur.fetchall()
print(f"movies having 'the' in their titles are : {the[0][0]}")

movies having 'the' in their titles are : 1349

# Conclusion

In [87]:
# RECAP OF SOME QUESTIONS :

# 1. How many movies are present in the movies table?
# ANS: The number of movies present in the movies table is 4773

# 2. How many Female directors are there in the Dataset?
# ANS: The number of female directors are : 150

# 3. Find the Top 3 most popular movies
# ANS: The Top 3 popular movies are : [('Minions',), ('Interstellar',), ('Deadpool',)]

# 4. Find the Top 10 revenue making movies
# ANS: The Top 10 highest revenue making movies are :[('Avatar',), ('Titanic',), ('The Avengers',), ('Jurassic World',), ('Furious 7',), ('Avengers: Age of Ultron',), ('Frozen',), ('Iron Man 3',), ('Minions',), ('Captain America: Civil War',)]

# 5.  Find out the director who is most bankable
# ANS: The most bankable director is Steven Spielberg

# Like wise various questions can be answered using the Dataset

In [ ]:
# This Analysis does not incorporate any Machine Learning Concept, Its just simple
# EDA done on SQL dataset for learning Purpose